@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

body[is-modal="true"] {
	overflow: hidden;
}

header {
	display: flex;
	padding: 1rem 2rem;
	margin-bottom: 1rem;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
	background: #fafafa;
}

main {
	max-width: 850px;
	margin: 0 auto;
	padding: 1rem;
	padding-top: 2rem;
	margin-bottom: 10rem;
}

h1 {
	margin: 3rem 0;
}

h3 {
	margin: 1rem;
}

section {
	text-align: center;
}

section ul {
	list-style: none;
}

section ul li {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 1rem;
	margin-bottom: 1rem;
}

.content,
p {
	margin: 0 auto;
	padding: 1rem 0;
	width: 50%;
}

pre {
	width: 50%;
	text-align: left;
	margin: 2rem 0;
	padding: 1rem;
	border: 1px solid #ccc;
}

button {
	width: 200px;
	padding: 1rem 2rem;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: all .3s;
	font-weight: bold;
	/* margin-right: 1rem; */
}

button:hover {
	background-color: royalblue;
}

button.isActive {
	background-color: green;
	color: white;
}

button:disabled {
	opacity: 0.5;
	pointer-events: none;
}

button:hover {
	border-radius: 0;
}

img {
    max-width: 100%;
}

dialog:-internal-dialog-in-top-layer::backdrop {
	position: fixed;
	inset: 0px;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
}

a {
	text-decoration: none;
	font-weight: bold;
}

.nav {
	display: flex;
	gap: 1rem;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.nav__button {
	width: auto;
	display: flex;
	padding: 1rem;
}

input,
select {
	width: 100%;
	/* height: 25px; */
	outline: none;
	padding: 1rem;
	color: blue;
	border: 1px solid #ccc;
}

label {
	text-align: left;
	margin-bottom: 1rem;
}

.form__field {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.journal__articles {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1rem;
	justify-content: center;
}

.journal__slider {
	margin-bottom: 5rem;
}

.journal__caption {
	margin: 2rem 0;
}

.journal__slider .article {
	width: 260px;
	flex-shrink: 0;
}

.modal {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 50px 20px;
	z-index: 1000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal p {
	width: 100%;
}

.article {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.article__prev {
	height: 200px;
	object-fit: cover;
	border-radius: 1rem;
}

.article__title {
	text-transform: capitalize;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	text-align: left;
  }

.article__text {
	width: 100%;
	padding: 0;
	margin-top: 1rem;
	font-size: 14px;
	line-height: 110%;
	text-align: left;
	margin-bottom: auto;
}

.article__content {
	padding: 1rem;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.article__data {
	display: flex;
	margin-top: 1rem;
	justify-content: space-between;
	color: gray;
	font-size: 10px;
}

.article__info,
.article__counters {
	display: flex;
	align-items: center;
	gap: .3rem;
}

.article__likes {
	cursor: pointer;
	padding: 5px;
	border-radius: 50%;
	transition: all .3s;
}

.article__modal {
	background-color: #ccc;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.journal__btn {
	margin-bottom: 1rem;
}

.pagination {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: center;
	margin-top: 1rem;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.journal__articles > * {
	animation: fadeIn .5s ease forwards;
}

.list,
.list2 {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
	gap: 20px;
	padding: 100px;
	background-color: rgba(0, 103, 247, 0.402);
	border-radius: 5px;
}

.btns {
	display: flex;
	gap: 1rem;
}

.save-form {
	display: flex;
	gap: 5px;
	padding: 2px;
	border: 2px solid lightblue;
	border-radius: 5px;
}

.disabled {
	pointer-events: none;
	opacity: .5;
}

/* .list__btn {
	margin-right: 1rem;
} */

.list__item {
	position: relative;
	display: flex;
	padding: 10px;
	border-radius: 5px;
	background-color: aquamarine;
	cursor: grab;
	user-select: none;
	height: 100px;
	width: 100px;
}

.list__item span {
	position: absolute;
	top: -5px;
	left: -5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 50%;
	cursor: pointer;
}

.list__item.dragging {
	background-color: lightblue;
	border: 2px dashed blue;
}

.result {
	display: flex;
	align-items: center;
	gap: 20px;
}

.result p {
	margin: 0;
}